:root {
  --color-default: #2b180d;
  --color-primary: #00a469;
  --color-secondary: #1b2f45;
  --light: #f8f8f8;
  --dark: #252525;
}

:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# about-ctn
--------------------------------------------------------------*/
.about-ctn .content {
  background-color: #f6f9ff;
  padding: 40px;
}

.about-ctn h3 {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-primary);
  text-transform: uppercase;
}

.about-ctn h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-secondary);
}

.about-ctn p {
  margin: 15px 0 30px 0;
  line-height: 24px;
}

.about-ctn .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: var(--color-primary);
  box-shadow: -8px -8px 12px 0 rgba(0, 164, 105, 0.3),
    12px 12px 16px 0 rgba(0, 0, 0, 0.25);
}

.about-ctn .btn-read-more span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.about-ctn .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.about-ctn .btn-read-more:hover i {
  transform: translateX(5px);
}

/*--------------------------------------------------------------
# features-ctn
--------------------------------------------------------------*/
.features-ctn .feature-box {
  padding: 24px 20px;
  box-shadow: -8px -8px 12px 0 rgba(0, 164, 105, 0.3),
    12px 12px 16px 0 rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  height: 100%;
}

.features-ctn .feature-icons h3 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .features-ctn .feature-icons h3 {
    font-size: 28px;
  }
}

.features-ctn .feature-icons .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: var(--color-primary);
}

.features-ctn .feature-icons .content .icon-box p {
  font-size: 15px;
  font-family: var(--font-secondary);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 0 0 25px 0;
  color: var(--color-primary);
  font-size: 14px;
  box-shadow: -8px -8px 12px 0 rgba(0, 164, 105, 0.3),
    12px 12px 16px 0 rgba(0, 0, 0, 0.25);
}
#footer .footer-top {
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info {
  margin-bottom: 30px;
}
#footer .footer-top .footer-info h3 {
  font-size: 30px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 800;
  color: var(--color-primary);
}
#footer .footer-top .footer-info img {
  height: 50px;
  margin-bottom: 10px;
}
#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: 20px;
  color: var(--color-secondary);
}
#footer .footer-top .social-links a {
  display: inline-block;
  background: var(--color-primary);
  color: #eee;
  line-height: 1;
  margin-right: 4px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#footer .footer-top .social-links a i {
  line-height: 0;
  font-size: 16px;
}
#footer .footer-top .social-links a:hover {
  background: var(--color-secondary);
  color: #fff;
}
#footer .footer-top h4 {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-primary);
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
  border-bottom: 2px solid var(--color-primary);
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 5px;
  color: var(--color-primary);
  font-size: 18px;
}
#footer .footer-top .footer-links ul li {
  padding: 5px 0;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: var(--color-secondary);
}
#footer .footer-top .footer-links ul a:hover {
  color: var(--color-primary);
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact p {
  line-height: 26px;
  color: var(--color-secondary);
}
